* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #fce138;
    --secondry-color: #024e76;
    --tertiary-color: #39a6b2;
}

header {
    padding: 20px;
}

header h1 {
    background-color: var(--primary-color);
    color: var(--secondry-color);
}