* {
    margin: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #9fdf9c;
    --secondry-color: #000000;
    --tertiary-color: #dae0a3;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--tertiary-color);
}

main {
    margin: 20px;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: var(--secondry-color);
    padding: 20px;
    font-family:Arial, Helvetica, sans-serif;
}

header h1 {
    color: var(--primary-color);
}

nav {
    text-align: right;
}

nav a {
    padding: 0 20px;
    font-size: 26px;
    color: var(--primary-color);
}



.portrait {
    width: 100%;
    height: auto;
}

.hero {
    margin-right: 0;
    width: 100%;
}

section {
    display:flex;
    flex-direction: row;
}

.sideBar {
    width: 20%;
}

.footer {
    left: 0;
    bottom: 0;
}

.contact-info {
    border: 1px solid var(--tertiary-color)
}

.mainContent {
    display: flex;
    flex-direction: column;
    border-left: 3px solid var(--primary-color);
    margin-left: 50px;
    width: 80%;
    padding-left: 50px;
}

.bottom-left {
    position: relative;
    bottom: 50px;
    left: 50px;
}

.work1 {
    float:left;
}

.work2 {
    float: left;
}

.work1 img {
    width: 100%;
    height: auto;
    padding: 0;
    border-radius: 15px;
    border: 10px solid var(--secondry-color);

}

.work2 img {
    width: 50%;
    height:auto;
    padding: 0;
    border-radius: 5px;
    border: 5px solid var(--secondry-color);
}

.titleClass {
    width: 40px;
    height: 40px;
    color: var(--primary-color);
}

.mainContent li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.footerContent ul {
	list-style: none;
}

.footerContent li {
	display: inline;
    color: #000000;
}

.footerContent {
    display: flex;
    flex-direction: column;
    border-left: 3px solid var(--primary-color);
    margin-left: 50px;
    width: 80%;
    padding-left: 50px;
}